header{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  width: calc(100% - 250px);
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  padding: 60px;
}

button{
  line-height: 50px;
  padding: 0 26px;
  color: blueviolet;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid blueviolet;
  background-color: transparent;
}

button.active{
  background-color: blueviolet;
  color: white;
}